{% extends 'backend/base_profile.html' %}
{% load static %}
{% block title %}Credits{% endblock %}

{% block middle_content %}
<div class="container">
  <div class="column text-center">
      <div class="col-xl-4 mx-auto">
          <h3 class="mb-5 mt-5">Credits</h3>
          <ul class="list-group">
              <li class="list-group-item"><a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">Bootstrap documentation</a></li>
              <li class="list-group-item"><a href="https://startbootstrap.com/template-overviews/landing-page/">Bootstrap style reference</a></li>
              <li class="list-group-item"><a href="https://docs.djangoproject.com/en/1.11/intro/tutorial01/">Django documentation</a></li>
              <li class="list-group-item"><a href="https://dialogflow.com/docs/getting-started/basics">Dialogflow</a></li>
              <li class="list-group-item"><a href="https://dashboard.heroku.com/">Heroku</a></li>
              <li class="list-group-item"><a href="https://www.twilio.com/">Twilio</a></li>
              <li class="list-group-item"><a href="https://developers.facebook.com/products/messenger/overview/">Facebook messenger documentation</a></li>
              <li class="list-group-item"><a href="https://support.cloudflare.com/hc/en-us/articles/205893698-Configure-Cloudflare-and-Heroku-over-HTTPS">SSL setup</a></li>
          </ul>
      </div>
  </div>
</div>
{% endblock %}
