{% extends 'backend/base_loggedin.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block middle_content %}
    <!-- Icons Grid -->
    <section class="signin bg-light">
      <div class="container">
        <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Weather
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <div class = "description">
                    <label class = "mb-2">Tells you the current weather of the entered city</label>
                  </div>
                    <div class="mb-4 btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-warning" id="off_weather">
                          <input type="radio" name="options" autocomplete="off"> Off
                        </label>
                        <label class="btn btn-warning" id="on_weather">
                          <input type="radio" name="options" autocomplete="off"> On
                        </label>
                    </div>
                    <form class="mb-4" id="locationform">{% csrf_token %}
                        <div class="form-group">
                          <input class="form-control" name="location" id="userlocation" placeholder="">
                        </div>
                        <button type="submit" name="action" id="setlocation" class="btn btn-primary">Submit</button>
                    </form>
                    <div class="alert alert-danger location_error message" role="alert"></div>
                    <div class="alert alert-success location_success message" role="success"></div>                    
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">
                        Weather Example
                    </button>
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Weather Example</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Toronto, Canada <br>
                              Current Temp: -2 C <br>
                              Condition: Sunny <br>
                              With a high of 2 C and a low of -3 C
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Subreddit Top Posts
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <div class = "description">
                    <label class = "mb-2">Tells you the current top 5 posts of the entered subreddit</label>
                  </div>
                    <div class="mb-4 btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-warning" id="off_subreddit">
                          <input type="radio" name="options_subreddit" autocomplete="off" checked> Off
                        </label>
                        <label class="btn btn-warning" id="on_subreddit">
                          <input type="radio" name="options_subreddit" autocomplete="off"> On
                        </label>
                    </div>
                    <form id="subredditform">{% csrf_token %}
                        <div class="form-group">
                          <input class="form-control" name="subreddit" id="usersubreddit" placeholder="">
                        </div>
                        <button type="submit" name="action" id="setsubreddit" class="btn btn-primary">Submit</button>
                    </form>
                    <div class="alert alert-danger subreddit_error message" role="alert"></div>
                    <div class="alert alert-success subreddit_success message" role="success"></div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Urban Dictionary Word of The Day
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  <div class = "description">
                    <label class = "mb-2">Tells you Urban dictionary word of the day</label>
                  </div>
                    <div class="mb-4 btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-primary active">
                          <input type="radio" name="options" id="off_word" autocomplete="off" checked> Off
                        </label>
                        <label class="btn btn-primary">
                          <input type="radio" name="options" id="on_word" autocomplete="off"> On
                        </label>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Get Motivated
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                  <div class="card-body">
                  <div class = "description">
                    <label class = "mb-2">Tells you a random motivational quote</label>
                  </div>
                      <div class="mb-4 btn-group btn-group-toggle" data-toggle="buttons">
                          <label class="btn btn-warning" id = "off_motivation">
                            <input type="radio" name="options_motivation" id="off_motivation_toggle" autocomplete="off"> Off
                          </label>
                          <label class="btn btn-warning" id = "on_motivation">
                            <input type="radio" name="options_motivation" id="on_motivation_toggle" autocomplete="off"> On
                          </label>
                      </div>
                      <div>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleMotivation" id = "mot_example">
                          Motivation Example
                      </button>
                    </div>
                    <div class="modal fade" id="exampleMotivation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Motivation Example</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body" id = "motivation_example">
                          </div>
                        </div>
                      </div>
                  </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block other_js %}
<script src="{% static 'backend/js/api.js' %}"></script>
<script src="{% static 'backend/js/dashboard.js' %}"></script>
{% endblock %}
