{% extends 'backend/base.html' %}
{% load static %}
{% block title %}TellMeStuff{% endblock %}

{% block middle_content %}
    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">TellMeStuff</h1>
          </div>
          <div class="col-xl-9 mx-auto">
            <h5 class="mb-4">TellMeStuff is a subscription based notification system where you can subscribe to all your favourite topics and receive frequent notifications!</h5>
          </div>
        </div>
      </div>
    </header>
{% endblock %}
