

{% extends 'backend/base_loggedin.html' %}
{% load static %}
{% block title %}Profile Settings{% endblock %}

{% block middle_content %}
    <!-- Icons Grid -->
    <section class="signin bg-light">
        <div class="container">
            <div class="row">
            <div class="col-md-6">
                <h1 class="font-weight-bold form-title">Profile Settings</h1>
                {% load socialaccount %}
                <a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook OAuth2</a>
            </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block other_js %}
<script src="{% static 'backend/js/api.js' %}"></script>
{% endblock %}
