{% extends 'backend/base.html' %}
{% load static %}
{% block title %}Signin{% endblock %}

{% block middle_content %}
    <!-- Icons Grid -->
    <section class="signin bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <h1 class="font-weight-bold form-title">Sign In</h1>
            <form id="signinform"> {% csrf_token %}
              <div class="form-group">
                <label>Username</label>
                <input class="form-control" name="username" id="usernameinput" placeholder="Enter username">
              </div>
              <div class="form-group">
                <label for="passwordinput">Password</label>
                <input type="password" name="password" class="form-control" id="passwordinput" placeholder="Password">
              </div>
              <button type="submit" name="action" id="signin" class="btn btn-primary">Submit</button>
            </form>
            <div class="alert alert-danger auth_error" role="alert">
              
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block other_js %}
<script src="{% static 'backend/js/api.js' %}"></script>
<script src="{% static 'backend/js/signin.js' %}"></script>
{% endblock %}
